# Python
__pycache__/
*.pyc
.venv/
venv/

# Secrets
.env
data/token.json
data/credentials.json
o365_token.txt

# Generated data
data/transactions.json
logs/

#logs
service_error.log
service_output.log
startup.log
startup.sh